    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;}

    .clearfix:before,
    .clearfix:after {
    content: "";     /*内容为“.”就是一个英文的句号而已。也可以不写。*/
    display: block;   /*加入的这个元素转换为块级元素。*/
    clear: both;     /*清除左右两边浮动。*/
    visibility: hidden;      /*可见度设为隐藏。注意它和display:none;是有区别的。visibility:hidden;仍然占据空间，只是看不到而已；*/
    line-height: 0;    /*行高为0；*/
    height: 0;     /*高度为0；*/
    font-size:0;    /*字体大小为0；*/}

    .clearfix { *zoom:1;}   /*这是针对于IE6的，因为IE6不支持:after伪类，这个神奇的zoom:1让IE6的元素可以清除浮动来包裹内部元素。*/

    body,form,div,ul,ol,li,h1,h2,h3,h4,h5,h6,table,tr,th,td,p,input,dl,dt,dd,ul,ol,li,input,textarea { font-family:"微软雅黑"!important;}

    .wrap,.main{
        width: 6.4rem;
        margin:0 auto;
    }

     .top {
        width: 6.4rem;
        height: 0.9rem;
        background-color:#50bbdb;
    }

    .top>a img{
        width: 0.88rem;
        height: 0.88rem;
        display: block;
        float:left;
     }

    .top h1{
        font-size:0.3rem;
        color:#eff0fb;
        float:left;
        line-height:0.9rem;
        margin:0 0 0 1.38rem;
     }

    .top>a:last-child{
        display: block;
        font-size:0.3rem;
        width: 0.8rem;
        line-height: 0.8rem;
        color:#fff;
        float:right;
        text-decoration: none;

     }

    .head .down{
        width: 6.4rem;
        height:0.8rem;
        padding-left:2rem;
        border-bottom:1px solid #bcb8b8;
    }

    .down>img{
        display: block;
        width: 0.34rem;
        height: 0.34rem;
        float:left;
       margin-top:0.22rem;

     }

    .down>span{
        display: block;
        width: 1.96rem;
        font-size:0.32rem;
        color:#50bbdb;
        line-height:0.8rem;
        float:left;
        margin-left:0.26rem;

    }

    .main-up,.main-down{
        width: 5.7rem;
        margin:0 auto;
        border-bottom:1px dashed #bcb8b8;
    }

    .main-up>div:first-child,.main-down>div:first-child{
        width: 1.6rem;
        float:left;
        margin-bottom:0.3rem;

    }

    .main-up>div:first-child span,.main-down>div:first-child span{
        display: block;
        width: 1.6rem;
        line-height: 0.66rem;
        font-size:0.24rem;


    }

    .main-up>div:last-child,.main-down>div:last-child{
        float:right;
    }

    .main-up>div:last-child span,.main-down>div:last-child span{
        display: block;
        width: 3.14rem;
        line-height: 0.66rem;
        font-size:0.26rem;
        font-weight:700;
        text-align:center;
     }


   .main-mid{
        width: 5.7rem;
        margin:0 auto;
        border-bottom:1px dashed #bcb8b8;
    }

    .main-mid>div:first-child{
        width: 1.6rem;
        float:left;
        margin-bottom:0.3rem;

    }

   .main-mid>div:first-child span{
        display: block;
        width: 1.6rem;
        line-height: 0.66rem;
        font-size:0.28rem;


    }

    .main-mid>div:last-child{
        float:right;
    }

    .main-mid>div:last-child span{
        display: block;
        width:4rem;
        line-height: 0.66rem;
        font-size:0.28rem;
        font-weight:600;
        text-align:center;
     }

     .main-down{
        margin-bottom:0;
        border:0;
     }


     footer{
        width: 6.4rem;
        margin:0 auto;
        background-color:#f6f6f6;
     }

     footer>p{
        width: 5.44rem;
        margin:0 auto;
        font-size:0.24rem;
        line-height:0.42rem;
        padding:0.4rem 0 0.8rem 0;
     }

    footer>div a{
          display: block;
        width: 5.44rem;
        line-height:0.7rem;
        margin:0 auto;
        border:1px solid #c2bbbb;
        font-size:0.32rem;
        text-decoration: none;
        color:#54b6cf;
        text-align:center;

    }
    footer>div{
        padding-bottom:2rem;
    }

